{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
