.directionVariant {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 1rem;
  font-weight: 500;
}

.select {
  display: flex;
  width: 50%;
  flex-direction: column;
}

@media (max-width: 550px) {
  .directionVariant {
    flex-direction: column;
  }

  .select {
    margin-top: 1rem;
    width: 100%;
  }
}
